*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    font-weight: 400px;
    color: #6c6c6c;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

body {
    margin: 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover, .button:hover {
    cursor: pointer;   
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0.67em 0;
}

p, ul, ol, figure {
    margin: 0 0 15px 0;
}

* + p, * + ul, * + ol, * + figure {
    margin-top: 15px;
}

ul > li > ol,
ul > li > ul,
ol > li > ul,
ol > li > ol {
    margin: 0;
}

@media (min-width: 640px) {
    .container {
        padding: 0 30px;
    }
}