.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.card-media {
    width: 137px;
    height: 137px;
    margin: 0 auto 15px;
    border-radius: 50%;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.card-pencil {
    background-color: #5094f2;
}

.card-monitor {
    background-color: #d94748;
}

.card-cart {
    background-color: #ebbb11;
}

.card-body > * {
    margin: 0;
}

.card-title {
    font-size: 34px;
    color: #5094f2;
    margin-bottom: 10px;
}

@media (min-width: 480px) {
    .card {
        display: flex;
    }
    .card-media {
        flex-shrink: 0;
        margin: 0 23px 0;
    }
}

@media (min-width: 640px) {
    .card {
        display: block;
    }
    .card-media {
        flex-shrink: 0;
        margin: 0 auto 15px;
    }
    .card-title {
        font-size: 20px;
    }
    .card-body {
        text-align: center;
    }
}

@media (min-width: 960px) {
    .card-media {
        width: 186px;
        height: 186px;
    }
}