.section {
    overflow: hidden;
    margin-bottom: 48px;
}

.section-image {
    max-width: 216px;
    margin: 0 auto;
}

.section-title {
    font-size: 42px;
    text-align: center;
}

.section-subtitle {
    font-size: 34px;
    margin: 0;
}

@media (min-width: 640px) {
    .section-image {
        max-width: 100%;
    }
    .section-title {
        text-align: start;
    }
}