.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
}

.swiper-button {
    display: none;
}

@media (min-width: 640px) {
    .swiper-button {
        display: flex;
    }
}
